<section class="hero">

	<div class="about">
		

		<div class="me">
			<h2 id="about">About me</h2>
			<div class="face-lockup">

				<div class="myface " >
					<div class="mobileface">
						<img src="/assets/images/mypic.jpg">

					</div>
					


				</div>

				<div class="icons dev orderfirst"></div>
			
				<div class="icons edit"></div>


			</div>
			<p>I am designer &developer living in 
				United Arab emirates </p>

			<p>I work as frond-end dev/designer at Zabeel International,UAE
and I also train people how to design&code websites. </p>

<p>You Can find me speaking in <strong class="highlight">twitter</strong> and sharing some code on <strong class="highlight">github </strong>.</p>



		</div>
		

	</div>


</section>