<section class="contact">
	<h2 id="contact" >Email me</h2>


	<div class="emailme">

		<form  method="POST" action="//formspree.io/senhorsulaiman@gmail.com">

			<input type="text" placeholder="Name">
			<input type="email"  placeholder="Email" name="_replyto">
			<input type="hidden" name="_subject" value="Email From my portfolio site" />
			<input type="hidden" name="_next" value="//senhorsulaiman.github.io/MyPortfolio#contact" />
			<textarea >


			</textarea >

			<button type="submit" class="send" value="Send">Send</button>



		</form>




	</div>




</section>