<div class="projectview">

	<div class="myproject active-pro" id="pro1" >
		<h2>TMC Training</h2>
		<div class="projectpic"><img src="assets/images/tmc.jpg" ></div>
		<p></p>

		<a href="" class="github-cta">View on git hub</a>





	</div>

	<div class="myproject" id="pro2">
		<h2>Business Finanance For Every One</h2>
		<div class="projectpic"><img src="assets/images/tmc-event.jpg"></div>
		<p></p>

		<a href="" class="github-cta">View on git hub</a>





	</div>
	<div class="myproject" id="pro3" >
		<h2>Splash Page</h2>
		<div class="projectpic"><img src="assets/images/splashpage.jpg"></div>
		<p> </p>

		<a href="" class="github-cta">View on git hub</a>





	</div>

	<div class="myproject" id="pro4">
		<h2></h2>
		<div class="projectpic"><img src="assets/images/black-bird.jpg"></div>
		<p> </p>

		<a href="" class="github-cta">View on git hub</a>





	</div>
	<div class="myproject" id="pro5">
		<h2>Responsive Email</h2>
		<div class="projectpic"><img src="assets/images/responsivehtml.jpg"></div>
		<p> </p>

		<a href="" class="github-cta">View on git hub</a>



 

	</div>
	<a href="#" class="back">Go back</a>






</div>