<div class="projectview">

	<div class="myproject active-pro" id="pro1" >
		<h2>TMC Training</h2>
		<div class="projectpic"><img src="assets/images/tmc.jpg" alt="tmc-traning"></div>
		<p></p>

		<a href="http://www.tmc-training.com/" class="github-cta" target="blank">View online</a>





	</div>

	<div class="myproject" id="pro2">
		<h2>Business Finanance For Every One</h2>
		<div class="projectpic"><img src="assets/images/tmc-event.jpg" alt="tmc-event"></div>
		<p></p>

		<a href="http://www.tmc-training.com/events/businessfinanceforeveryone.html" class="github-cta"  target="blank">View online</a>





	</div>
	<div class="myproject" id="pro3" >
		<h2>Splash Page</h2>
		<div class="projectpic"><img src="assets/images/splashpage.jpg" alt="splashpage" ></div>
		<p> </p>

		<a href="https://github.com/senhorsulaiman/Splash-Page-and-Modal-with-Travis-Neilson-.git" class="github-cta"  target="blank">View on github</a>





	</div>

	<div class="myproject" id="pro4">
		<h2></h2>
		<div class="projectpic"><img src="assets/images/black-bird.jpg" alt="blackbird"></div>
		<p> </p>

		<a href="https://github.com/senhorsulaiman/Parallax-On-The-Web.git" class="github-cta"  target="blank">View on github</a>





	</div>
	<div class="myproject" id="pro5">
		<h2>Responsive Email</h2>
		<div class="projectpic"><img src="assets/images/responsivehtml.jpg" alt="responsivemail"></div>
		<p> </p>

		<a href="https://github.com/senhorsulaiman/Jade-Test.git" class="github-cta"  target="blank">View on github</a>



 

	</div>
	<div class="myproject" id="pro6">
		<h2>Responsive Email</h2>
		<div class="projectpic"><img src="assets/images/responsivehtml.jpg" alt="responsivemail"></div>
		<p> </p>

		<a href="https://github.com/senhorsulaiman/Jade-Test.git" class="github-cta"  target="blank">View on github</a>



 

	</div>
	<a href="#" class="back">Go back</a>






</div>