<section class="skills">

	<h2 class="maintitle" id="skills">Skills</h2>
	<div class="skillset clearfix">

		<div class="skillevel">
			<h4>Comminication</h4>


			<div class="skillrate skill-rate-8">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>


			
	



		</div>

		<div class="skillevel">
			<h4>Learning</h4>


			<div class="skillrate skill-rate-9">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>
			

			
	



		</div>
		<div class="skillevel">
			<h4>Teaching</h4>


			<div class="skillrate skill-rate-9">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>
			

			
	



		</div>
		<div class="skillevel">
			<h4>HTML</h4>


			<div class="skillrate skill-rate-10">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>
			

			
	



		</div>
		<div class="skillevel">
			<h4>CSS</h4>


			<div class="skillrate skill-rate-10">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>

			

			
	



		</div>
		<div class="skillevel">
			<h4>JADE</h4>


			<div class="skillrate skill-rate-10">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>

			

			
	



		</div>
		<div class="skillevel">
			<h4>SASS</h4>


			<div class="skillrate skill-rate-9">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>
		
			

			
	



		</div>
		<div class="skillevel">
			<h4>JAVASCRIPT&JQUERY</h4>


			<div class="skillrate skill-rate-9">

				<span></span><span></span><span></span>	<span></span>	<span></span>
				<span></span><span></span><span></span>	<span></span>	<span></span>




			</div>
		
			

			
	



		</div>




	</div>



</section>