<section class="testimonial">
	<div class="people">

		<div class="large-window clearfix">

			<div class="slides slide-show" id="amal">
				<div class="face" style="background-image:url(assets/images/face1.jpg);" ></div>
				<div class="comments"><p>amal is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				<strong>Kareem</strong>
				<strong>Dubai Airport</strong>
				</div>



			</div>
			<div class="slides" id="kareem">
				<div class="face" style="background-image:url(assets/images/face2.jpg);"></div>
				<div class="comments"><p>Senhor is a good trainer and also good at web development.My experience in working with him has been enriching and educative</p>
				<strong>Vincent</strong>
				<strong>CEO,De Vince Media Group </strong>
				</div>



			</div>
			<div class="slides" id="sadia">
				<div class="face" style="background-image:url(assets/images/face3.jpg);"></div>
				<div class="comments"><p>sadia  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				<strong>Asif</strong>
				<strong>Student,Sharjah University</strong>
				</div>



			</div>




		</div>
		
		

	</div>

	<nav class="nav-testimonial">
		<a href="#" class="activeon" data-people="amal"></a>
		<a href="#" data-people="kareem"></a>
		<a href="#" data-people="sadia"></a>



	</nav>



</section>