<div class="allprojects">

	<h2 class="maintitle" id="works"> works</h2>

	<div class="mystuffs clearfix">


		<div class="project">
			<div class="projectshow pro1" style="background-image:url(assets/images/tmc.jpg);" data-pro="pro1"></div>
			<p class="title">TMC Training</p>




		</div>
		<div class="project">

			<div class="projectshow " style="background-image:url(assets/images/tmc-event.jpg);"  data-pro="pro2"></div>
			<p class="title">Business Finanance For Every One</p>




		</div>
		<div class="project ">
			<div class="projectshow pro3" style="background-image:url(assets/images/splashpage.jpg);" data-pro="pro3"></div>
			<p class="title">Splash Page</p>




		</div>
		<div class="project ">
			<div class="projectshow pro4" style="background-image:url(assets/images/black-bird.jpg);" data-pro="pro4"></div>
			<p class="title">Black Bird clothing store</p>




		</div>
		<div class="project ">
			<div class="projectshow pro5" style="background-image:url(assets/images/responsivehtml.jpg);" data-pro="pro5"></div>
			<p class="title">Responsive Email</p>




		</div>
		<div class="project ">
			<div class="projectshow pro6" style="background-image:url(assets/images/tmc.jpg);" data-pro="pro6"></div>
			<p class="title">Capture theme</p>




		</div>


	</div>

</div>

	