<section class="work ">

	<h2 class="maintitle" id="works"> works</h2>

	<div class="mystuffs clearfix">

		<div class="project">
			<div class="projectshow pro1" style="background-image:url(assets/images/tmc.jpg);"></div>
			<p class="title">TMC Training</p>




		</div>
		<div class="project">
			<div class="projectshow pro2" style="background-image:url(assets/images/tmc-event.jpg);" ></div>
			<p class="title">Business Finanance For Every One</p>




		</div>
		<div class="project ">
			<div class="projectshow pro3" style="background-image:url(assets/images/splashpage.jpg);"></div>
			<p class="title">Splash Page</p>




		</div>
		<div class="project ">
			<div class="projectshow pro4" style="background-image:url(assets/images/black-bird.jpg);"></div>
			<p class="title">Black Bird clothing store</p>




		</div>
		<div class="project ">
			<div class="projectshow pro5" style="background-image:url(assets/images/responsivehtml.jpg);"></div>
			<p class="title">Responsive Email</p>




		</div>
		<div class="project ">
			<div class="projectshow pro6" style="background-image:url(assets/images/tmc.jpg);"></div>
			<p class="title">Capture theme</p>




		</div>


	</div>


</section>
