<section class="work ">

	<h2 class="maintitle" id="works"> works</h2>

	<div class="mystuffs clearfix">

		<div class="project">
			<div class="projectshow pro1"></div>
			<p class="title">TMC Training</p>




		</div>
		<div class="project">
			<div class="projectshow pro2"></div>
			<p class="title">Business Finanance For Every One</p>




		</div>
		<div class="project ">
			<div class="projectshow pro3"></div>
			<p class="title">Splash Page</p>




		</div>
		<div class="project ">
			<div class="projectshow pro4"></div>
			<p class="title">Black Bird clothing store</p>




		</div>
		<div class="project ">
			<div class="projectshow pro4"></div>
			<p class="title">Responsive Email</p>




		</div>
		<div class="project ">
			<div class="projectshow pro1"></div>
			<p class="title">Capture theme</p>




		</div>


	</div>


</section>
